body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient( 65.9deg,  rgba(85,228,224,1) 5.5%, rgba(75,68,224,0.74) 54.2%, rgba(64,198,238,1) 55.2%, rgba(177,36,224,1) 98.4% );;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.35);;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 40px;
    width: 400px;
}

.container h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 10px;
}

button[type="submit"] {
    padding: 10px;
    border-radius: 1rem;
    border: none;
    background-color: #3d7ab3;
    color: white;
    cursor: pointer;
    width: 30%;
    font-size: 20px;
}